<div class="jumbotron row">
    <div class="container">
        <h1 class="display-3">About Team 9</h1>
        <p>We are a team of 6 SFSU students developing a real estate website for a CSC 648 project.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-fb.jpg" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=fb" role="button">fhboswell</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-kn.jpg" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=kn" role="button">khanhngg</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-nm.jpg" alt="Nemi's face" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=nm" role="button">nemimccarter</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-es.jpg" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=es" role="button">librarythug</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-jc.jpg" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=jc" role="button">jchristiansen55</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <img class="rounded-circle" src="assets/img-kl.jpg" alt="Generic placeholder image" width="140" height="140">
            <p><a class="btn btn-secondary alert-primary" href="aboutMember/result?member=kl" role="button">kevinlay689</a></p>
        </div>
    </div>
</div>