<div class="container about">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="../assets/img-<%=member%>.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2><%= memberName %></h2>
            <p>I'm the <%= memberRole %> of team 9.</p>
            <p><a class="btn btn-secondary alert-primary" href="<% if (locals.fa17g09_env_prefix) { %>/<%= fa17g09_env_prefix %><%} else {%>/<%}%>/about" role="button">Back</a></p>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
