<!-- HERO SECTION -->
<section class="header">
   <div class="container about">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h2><center>Login</center></h2>
                <center>Enter your username and password</center>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 div-centered">
                <form action="<% if (locals.fa17g09_env_prefix) { %>/<%= fa17g09_env_prefix %><%}%>/login" method="post" class="form-inline">
                    <div class="container">
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label><b>Password</b></label>
                        <input type="text" placeholder="Enter Password" name="password" required>
                        <button type="submit">Login</button>
                        <input type="checkbox" checked="checked"> Remember me
                    </div>
                </form>
                <div>
                    <h2>Or sign up</h2>
                </div>
                <form action="<% if (locals.fa17g09_env_prefix) { %>/<%= fa17g09_env_prefix %><%}%>/signup" method="post" class="form-inline">
                    <div class="container">

                        <label><b>firstName</b></label>
                        <input type="firstName" placeholder="Enter First Name" name="firstName" required>

                       <label><b>lastName</b></label>
                        <input type="lastName" placeholder="Enter Last Name" name="lastName" required>

                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <label><b>Email</b></label>
                        <input type="email" placeholder="Enter Email" name="email" required>
                        <label><b>User Type</b></label>
                        <input type="radio" name="userType" value="client" required> Client: You want to buy or sell a home<br>
                        <input type="radio" name="userType" value="listingAgent" required> Listing Agent<br>
                        <input type="radio" name="userType" value="admin" required> ONLY SELECT OF YOUR THE ADMIN. --ADMIN<br>


                        <button type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
