<section class="terms-page">
    <h2><%= title %></h2>
</section>

<section class="row">
    <ul id="terms-list">
        <li class="terms-description">
            <p>1. Who Can Use the HouseShop Services</p>
            <p>
                You must be: a) at least the age of majority in the state where you live to use the Sites, and b) a resident of the United States. If you are under 13 years old, do not use the Sites.
            </p>
        </li>
        <li class="terms-description">
            <p>2. Intellectual Property Ownership and License</p>
            <p>
                A. Copyright All materials (including source code, data, images, and other content) contained in the Services, including the selection and arrangement of the materials, are owned by HouseShop or are licensed by HouseShop for use on the Sites. Our site features Google Maps, please review their privacy policy, legal notices and terms of use. Portions of this page are modifications based on work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.
                <br>
                B. Trademarks HouseShop, the HouseShop logos and other HouseShop trademarks, service marks, graphics, and logos used in connection with HouseShop are trademarks or registered trademarks of HouseShop in the U.S. and/or other countries.
                <br>
                C. Data The MLS Data on our Sites is the property of the individual MLSs providing the data. These MLSs have granted HouseShop the necessary licenses to display the MLS Data on the Sites.
            </p>
        </li>
        <li class="terms-description">
            <p>3. Registration</p>
            <p>
                You must register for a HouseShop account to see complete home listings. This is required by our licenses with various MLSs. You also must register before you can submit content. By registering for a HouseShop account you are agreeing to these Terms of Use as well as the MLS Terms of Use. You are responsible for all activities related to the Services that occur through your account and password. It is your responsibility to keep your HouseShop profile information accurate. You agree to keep your password confidential, not use others' accounts, nor permit others to use your account. HouseShop reserves the right to terminate accounts in its discretion.
            </p>
        </li>
        <li class="terms-description">
            <p>4. Equal Housing Opportunity</p>
            <p>
                We are pledged to the letter and spirit of U.S. policy for the achievement of equal housing opportunity throughout the Nation. We encourage and support an affirmative advertising and marketing program in which there are no barriers to obtaining housing because of race, color, religion, sex, handicap, familial status, or national origin.
            </p>
        </li>
        <li class="terms-description">
            <p>5. Your Submissions and Community Guidelines</p>
            <p>
                You may submit feedback, ideas, reviews, comments, photos, or other content to HouseShop and the Sites ("Submissions"). All Submissions must comply with the HouseShop Community Guidelines below. You represent that you own or control all of the rights to your Submissions and that the Submissions do not violate these Terms of Use, including our Community Guidelines, or the rights of any third party. You are solely responsible for your Submissions. HouseShop may, but is not obligated to, monitor and edit or remove Submissions, and has no obligation to store Submissions.
            </p>
        </li>
        <li class="terms-description">
            <p>6. Disclaimers</p>
            <p>
                HouseShop PROVIDES THE SERVICES ON AN "AS IS" AND "AS AVAILABLE" BASIS. HouseShop DOES NOT CONTROL OR VET USER GENERATED CONTENT FOR ACCURACY. WE DO NOT PROVIDE ANY EXPRESS WARRANTIES OR REPRESENTATIONS. TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, HouseShop AND ITS SUPPLIERS DISCLAIM ANY AND ALL IMPLIED WARRANTIES AND REPRESENTATIONS, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, ACCURACY OF DATA, AND NONINFRINGEMENT. IF YOU ARE DISSATISFIED OR HARMED BY HouseShop OR ANYTHING RELATED TO HouseShop, YOU MAY DEACTIVATE YOUR HouseShop ACCOUNT AND TERMINATE THIS AGREEMENT AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY. HouseShop IS NOT RESPONSIBLE, AND MAKES NO REPRESENTATIONS OR WARRANTIES FOR THE DELIVERY OF ANY MESSAGES (SUCH AS POSTING OF ANSWERS OR TRANSMISSION OF ANY OTHER USER GENERATED CONTENT) SENT THROUGH HouseShop TO ANYONE. ANY MATERIAL, SERVICE, OR TECHNOLOGY DESCRIBED OR USED ON THE SITES MAY BE SUBJECT TO INTELLECTUAL PROPERTY RIGHTS OWNED BY THIRD PARTIES WHO HAVE LICENSED SUCH MATERIAL, SERVICE, OR TECHNOLOGY TO US. HouseShop DOES NOT HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF THE PERSONS SUBSCRIBING TO ITS SERVICES, NOR DOES IT HAVE ANY OBLIGATION TO MONITOR THE USE OF ITS SERVICES BY OTHER USERS OF THE COMMUNITY; THEREFORE, HouseShop DISCLAIMS ALL LIABILITY FOR IDENTITY THEFT OR ANY OTHER MISUSE OF YOUR IDENTITY OR INFORMATION BY OTHERS. HouseShop DOES NOT GUARANTEE THAT THE SERVICES IT PROVIDES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS IN FUNCTIONING. THE OPERATION OF THE SERVICES MAY BE INTERRUPTED DUE TO MAINTENANCE, UPDATES, OR SYSTEM OR NETWORK FAILURES. HouseShop DISCLAIMS ALL LIABILITY FOR DAMAGES CAUSED BY ANY SUCH INTERRUPTION OR ERRORS IN FUNCTIONING. FURTHERMORE, HouseShop DISCLAIMS ALL LIABILITY FOR ANY MALFUNCTIONING, IMPOSSIBILITY OF ACCESS, OR POOR USE CONDITIONS OF THE SITES DUE TO INAPPROPRIATE EQUIPMENT, DISTURBANCES RELATED TO INTERNET SERVICE PROVIDERS, TO THE SATURATION OF THE INTERNET NETWORK, AND FOR ANY OTHER REASON. SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS AND AS A RESULT THE CONTENTS OF THIS SECTION MAY NOT APPLY TO YOU.
            </p>
        </li>
    </ul>
</section>