/*html {
    overflow-y: scroll; 
}
*/

a {
  text-decoration:none;
  transition:.5s ease;
}

a:hover {
    text-decoration: none;
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
}

h1 {
    margin: 0;
}

p {
    margin-top: 16px;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
}

.image-logo {
    width: 40px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.btn-group {
    padding-bottom: 5px;
}

.filter button {
    margin: 0 1%;
    border-radius: .25rem;
}

.filter-button h5 {
    color: #fefefe;
}

.display-none {
    display: none;
}

.div-centered {
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.row {
    text-align: center;
}

.navbar-nav {
    flex-wrap: inherit;
}

.nav a, .btn-log-in {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.08rem;
}
.btn-log-in {

}

#navbarCollapse {
    z-index: 100;
}
.nav-item {
    padding: 0 0.5rem;
}

.navbar-toggler {
    padding: .25rem;
    margin-right: 15px;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.nav-end { 
    justify-content: flex-end !important; 
}

.disclaimer {
    margin-bottom: 0;
    text-align: center;
    background-color: #3c434a;
    color: #d2d2d2;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.disclaimer p {
    margin: 0 auto;
    font-size: .8rem;
}

.alert-danger {
    position:absolute;
}

/* ABOUT PAGE */
.jumbotron {
    margin-bottom: 5%;
}


/* SIGN IN/UP MODAL FORMS*/
.centered-form{
    margin-top: 10px;
}

.checkBoxAdjust{
    margin-left:-4%;
    margin-top:1.5%;
}

.checkBoxAdjust2{
    margin-left:10%;
}

.center-sign_up_in{
    width:50%;
    margin-left:25%;
}

.center-titlesSignUp{
    margin-left:39.5%;
}

.center-titlesLogin{
    margin-left:42%;
}
.astext {
    background:none;
    border:none;
    margin:0;
    margin-left:-50%;
    padding:0;
    text-decoration: underline; 
}

.widthOfFields{
    width:80%;
}

.widthOfFields2{
    width:90%;
    margin-left:5%;
}

.widthOfFields3{
    width:95%;
    margin-left:2.5%;
}

.toTheLeft-footer {
    margin-right:75%;
}

.modal-size {
    width:50%;
    margin-left:-40%;
}

.divider {
    width:.5px;
    height:auto;
    display:inline-block;
}

.header { 
    padding-top: 5%;
    padding-bottom: 3%;
}

.header {
    padding: 2rem;
}

.header div {
    padding: 0.7rem;
}

/* HOME PAGE */
#searchbar {
    padding-bottom: 5%;
}

.form-inline .input-group,.searchbar-input {
    width: 100%;
}

.searchbar-input {
    margin-bottom: 2%;
}

.search-results{
    z-index: 10;
}

.search-results div {
    text-align: left;
}

.search-results p {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 3%;
}

.search-alert {
    margin: 0;
    padding: 0;
}

.search-alert-detail {
    padding: 1.1rem;
}

.alert-dismissible .close {
    top: 0;
    right: 0;
    padding: 0; 
}

.h6, h6 {
    font-size: 1.2rem;
}

/* SEARCH-LAYOUT */
.content {
    background-color: #fbfbfb;
}

.fixed-container {
    position: fixed;
    z-index: 25;
}

.columns-view {
    flex: 1;
    display: flex;
}

/* SEARCH */
.listing-features {
    text-shadow: 2px 2px 8px #343a40;
}

.listing-address h5 {
    font-weight: 300;
}

.listing-detail {
    margin: 0;
}

.listing-detail h4, .listing-detail h5 {
    font-size: 1.2rem;
}

.listing-features {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.listing-features i {
    padding: 0.4rem;
}

/* SEARCH: MAP*/
.column-left, .column-right {
    padding: 0;
    top: 205.77px;
}

.container-map {
    position: fixed;
    bottom: 0;
    max-height: 2000px;
}

.column-right {
    position: absolute;
    right: 0;
    box-shadow: -1px 0 3px 0 rgba(0,0,0,.2);
    /*z-index: -1;*/
    background-color: #fefefe;
}

.google-map {
    width: 100%;
    height: 100vh;
 }

 /* SEARCH: THUMBNAIL */
 .card {
    margin-bottom: 1.25rem;
    /*box-shadow: -1px 0 3px 0 rgba(0,0,0,.2);*/
 }

.wrapper-card-img {
    padding: 1.25rem;
}

.card-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 100%;
}

.card-body {
    padding: 0 0 1.1rem 0;
}

/*  LISTING  */
.filter {
    padding: 8px;
    background-color: #343a40;
    position: fixed;
    top: 116.77px;
    width: 100%;
    z-index: 10;
}

.listing-images {
    width: 100%;
}

.listing-images .container {
    margin: 0;
    padding: 0;
}

.listing-image-container {
    margin: 0;
    /*display: flex !important;*/
}

.listing-image-container img {
    padding: 0;
}

.listing-info {
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 2%;
}

.listing-info-address {
    margin-bottom: 0.7rem;
}

.listing-info-address h1 {
    font-weight: 300;
}

.listing-info-detail h1 {
    line-height: 2.6rem;
}

.listing-info h3 {
    font-size: 1.2rem;
}

/* Listing: Image slider */
.carousel-item {
    max-height: 400px;
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
}

.carousel, .contact {
    margin-bottom: 5%;
}

.was-validated .form-control:valid~.invalid-feedback {
    display: none;
}

/* CREATE LISTINGS */

fieldset {
    border: none;
}

.was-validated .custom-select:valid~.invalid-feedback {
    display: none;
}

.custom-file {
    overflow: hidden;
}

.custom-file-control {
    white-space: nowrap;
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

/* DASHBOARD */
th {
    text-align: center;
}

.tabs {
    padding: 0;
}

.tab-pane {
    width: 100%;
}

.nav-tabs {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav-tabs .nav-item {
    padding: 0;
}

/* MESSAGE BOARD */
.message-body {
    text-align: left;
}

.message-contact {
    color: #4183D7;
}

.message-date {
    color: #6C7A89;
}

.message-reply-btn {
    margin: 20% 0;
}

/**
 Listing Form 
**/
.listingGroups{
  width:70%;
    margin-left:15%;
}
.listingGroups2{
  width:60%;
    margin-left:13%;
}
.listingGroups3{
  width:70%;
    margin-left:15%;
}
.listingGroups4{
  width:100%;
    margin-left:-8%;
}
.titlesForListingsForm{
    margin-left:-70%;
}
.titlesForListingsForm2{
    margin-left:-80%;
}
.titlesForListingsForm3{
    margin-left:-40%;
}
.titlesForListingsForm4{
    margin-left:-75%;
}
.titlesForListingsForm5{
    margin-left:-7%;
    width:70%;
}
.titlesForListingsForm6{
    margin-left:6%;
    width:70%;
}
.titlesForListingsForm7{
    margin-left:12%;
    width:70%;
}

/* TERMS AND SERVICES*/
.terms-page {
    text-align: center;
    padding: 2rem;
}

.terms-description p {
    text-align: left;
    margin-top: 0;
}

.terms-description p:nth-of-type(1) {
    font-weight: 700;
    margin-bottom: 0;
}
 

#terms-list {
    padding-right: 40px;
    list-style-type: none;
}

/**************
  RESPONSIVE
***************/

@media screen and (max-width: 767px) {
    .filter {
        top: 154.77px;
    }
}

@media screen and (max-width: 767px) {    
    .column-left, .column-right {
        top: 243.77px;
    }
}

@media screen and (max-width: 650px) {
    .sort-selection {
        width: 70%;
    }

    .sort-btn {
        width: 30%;
    }
}
